@media only screen and (min-width: 769px) {
    .navbar-mobile {
        display: none;
    }   
    
    .burger-menu {
        display: none;
    }   
}

@media only screen and (max-width: 768px) {
    .nav-links {
        display: none;
    }
    
    h1 {
        font-size: 38px;
    }
    
    h2 {
        font-size:  28px;
    }

    h3 {
        font-size:  12px;
    }

    h4 {
        font-size:  12px;
    }

    p {
        font-size: 14px;
    }

    .p-small {
        font-size: 10px;
    }

/*------ HOME BODY ------*/
    
    .bullet-point {
        width: 40px;
    }
    
    .bullet-title {
        margin-left: -23px;
    }
    
    .bullet-title p {
        padding-left: 10px;
    }
    
    .home-description {
        margin: 0px 0px 0px 20px;
    }
    
    .service-container {
        margin-left: 20px;
    }
    
    .homepage-discover {
        margin-left: 20px;
    }
    
    .home-description-small {
        margin: 0px 0px 0px 20px;
    }

    
/*------ ABOUT BODY ------*/
    
    .team-cards {
        flex-direction: column;
    }
    
    .team-member-card {
        padding: 50px 20px 0px 20px; 
    }
    
    .team-title {
        max-width: 300px;
    }
    
    .team-title h1 {
        padding-bottom: 20px;
    }
    
    .value-container {
        flex-direction: column;
    }
    
    .centre-title-2 {
        padding: 50px;
    }
    
    
/*------ OUR SERVICES ------*/
    
    .our-services-container {
        flex-direction: column;
    }
    
    .laptop {
        width: 100%;
        height: 350px;
    }
    
    .services-info {
        padding: 50px 50px 0px 50px;
        width: 100%;
    }
     
    .laptop img {
        width: 250px; 
    }
    
    .our-services-info {
        padding: 50px 50px 0px 50px;
    }


/*------ NEW PAGE ------*/
    
    .news-box {
        width: 275px;
        flex-direction: column;
        align-items: center
    }
    
    .news-box img {
        padding: 15px 0px;
    }
    
    .news-details h3 {
        text-align: center;
        padding-bottom: 15px;
    }
    
    .green-a {
        padding: 15px 0px;
    }
    
/*------ CONTACT US ------*/
    
    .contact-welcome {
        padding-top: 60px;
    }
    
    .contact-centre-title {
        text-align: center;
    }
    
    .contact-centre-title h1 {
        padding-bottom: 20px;
    }
    
    .contact-us {
        flex-direction: column;
        text-align: center;
    }
    
    #contact-address {
        padding: 0px 0px 30px 0px;
        
    }
    
    .contact-centre-title p{
        padding: 0px 30px;
    }
    
/*------ FOOTER ------*/
    
    .footer-container {
        flex-direction: column;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    
    .footer-column {
        padding-top: 40px;
    }
    
    .footer-column .logo {
        width: 250px;
        order: 1;
    }

    .footer-line {
        margin: 20px 3% 10px 3%;
    }
    
    .footer-bottom {
        flex-direction: column;
        padding: 15px;
    }
    
    .p-small-blue {
        padding: 5px;
}

}


@media (min-aspect-ratio: 16/9) {
  .fullscreen-video {
      height: 100vh;
        min-width: 100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-video {
        height: 100vh;
        min-width: 100%;
  }
}


@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('/images/background/homepage-background.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}

